beautifulsoup4
certifi
charset-normalizer
click
colorama
dnspython
Flask
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pymongo
python-dateutil
pytz
requests
six

urllib3
Werkzeug
gunicorn
