<title>Search</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="content">
    <h1 style="text-align: center">Personal Detail</h1>

    <div class="form">
        <form action="/result" method="POST">


    <br>

    <select id="content1" name="content1">
      <option value="Addreses">Addreses</option>
      <option value="prices">Prices</option>
    </select>
            <input type="text" name="content2" id="content2">

            <input type="submit" value="Submit">

        </form>
    </div>
</div>
   <style>
       body { background-color:#2FD09F


   </style>


<!--##<input type="text" name="content1" id="content1">-->